{% extends 'base.html' %}

{% block title %}Search Results{% endblock %}

{% block content %}
<body>
    <form action = "{% url "" %}" method = "GET">
        {{ context.form.as_p }}
        <button type = "submit">Search</button>
    </form>

    {% if context.results %}
    <h1>Search Results for "{{ context.query }}"</h1>
        <ul>
            {% for tank in context.results %}
                <li>{{ tank.name }} <img src = {{tank.image_normal}} alt = "tank image" style = "width:100px;height:100px;"> </li> <!-- Replace field_name with your actual field -->
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}
    
</body>
{% endblock %}
