.header {
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-position: center 52%;
    height: 75px; /* Adjust the height according to your needs */
    text-align: center;
    color: #E0CBA8;
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold; /* Adjust the font weight as needed */
    padding-top: 20px; /* Adjust the padding as needed */
  }
